@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  background-color: #24272A;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #EEEEEE;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
  align-items: center;
}
.navbar .links {
  margin-left: auto;
}

.navbar.links.home {
  margin-left: 0;
  align-items: left;
  justify-content: left;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.home {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home .create-schedule {
  margin: 20px auto;
  background-color: #24272A;
  transition-duration: 0.4s;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  border: 2px solid #f1356d;
}

.home .create-schedule:hover {
  background-color: #f1356d;
  color: #EEEEEE;
}